/* @import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap'); */
@define-color node_bg #000000;
/* @define-color node_bg_selected #100024; */
@define-color node_bg_selected #100024; 

.node > .nodebox-alt{
    /* background-color: #242424; */
    background-color: #242424;
    border-radius: 20px;
    border: 1px solid #000000; 
    padding: 10px 20px;
    /* filter: drop-shadow(0 0 2px black); */ 
    /* filter: drop-shadow(0 0 0.75rem crimson); */
  }
  .node-selected > .nodebox-alt{
    background-color: #242424;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    /* transform: scale(2); */
    /* filter: drop-shadow(0 0 2px #ffffff); */
    /* filter: drop-shadow(0 0 0.25rem #b9b9b99a); */
    /* filter: drop-shadow(0 0 0.75rem crimson); */
  }

.node > .nodebox {
    /* background-color: #242424; */
    background-color: @node_bg;
    border-radius: 20px;
    /* border: 1px solid #B9B9B9; */
    padding: 15px;
    

    filter: drop-shadow(0 0 5px black);
    
    /* filter: drop-shadow(0 0 0.75rem crimson); */
  }

.node-selected > .nodebox {
    background-color: @node_bg_selected;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #FFFFFF;
    transform-origin: 0 0;
    /* transform: scale(2); */
    filter: drop-shadow(0 0 5px #ffffff);
    /* filter: drop-shadow(0 0 0.25rem #b9b9b99a); */
    font-family: "Manjari", sans-serif;
    font-weight: 1000;
    font-style: normal;
    /* filter: drop-shadow(0 0 0.75rem crimson); */
  }


.nodebutton{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #242424;
    background-image: none;
    background-color: #B9B9B9;
    transition-duration: 0.5s;
}

.nodebutton:hover{
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-image: none;
    /* background-color: #B9B9B988; */
    filter: drop-shadow(0 0 0.5rem #B9B9B988);
    transition-duration: 0.1s;
}

.nodebutton:active{
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-image: none;
    filter: drop-shadow(0 0 0.25rem #B9B9B988);
    background-color: #B9B9B988;
    transition-duration: 0.1s;
}

.rubberband{
    border: 2px solid #B386C3;
    
    background-color: #BA00700E;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.25rem #b9b9b99a);
    

}

.canvas{
    /* background-color: #000000; */
    color: #ffffff;
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/qL9wz.png"); */
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/tile_canvas_bg_dotted.svg"); */
    /* margin: 10px; */
    /* padding: 20px; */
    border: 4px double #909090;
    
    
    /* background: repeat; */
    
}

.canvas-fixed{
    /* background-color: #000000; */
    color: #ffffff;
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/qL9wz.png"); */
    transform-origin: 0 0;
    transform: scale(1);
    
    /* background: repeat; */
    
}

.canvas_zoomed_out{
    /* background-color: #000000; */
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/qL9wz.png"); */
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/tile_canvas_bg_dotted.svg"); */
    transform: scale(1);
    /* background: repeat; */
    
}


.source{
    /* background-color: #290037; */
    background-color: #5c007a;
    border: 1px solid #ffffff;
    border-radius: 100%;
}
.sink{
    background-color: rgb(0, 69, 116);
    border: 1px solid #ffffff;
    border-radius: 100%;
}



.node-selected .nodesource{
    /* background-color: #290037; */
    background-color: #5c007a;
    border: 1px solid #ffffff;
    border-radius: 50px;
    /* border-radius: 100%; */
}
.node-selected .nodesink{
    background-color: rgb(0, 69, 116);
    border: 1px solid #ffffff;
    padding: 0px 3px;
    border-radius: 50px;
    /* border-radius: 100%; */
}


.node .nodesource{
    /* background-color: #290037; */
    background-color: #5c007a;
    border: 1px solid #242424;
    /* border: 1px solid #ffffff; */
    border-radius: 50px;
    /* border-radius: 100%; */
}
.node .nodesink{
    background-color: rgb(0, 69, 116);
    border: 1px solid #242424;
    padding: 0px 15px;
    /* border-radius: 100%; */
    border-radius: 50px;
}
